<!DOCTYPE html>
<!-- This is the base Html file which will be extended throught my flask app and it provides the layout for each web page.
Here i have used the basic html tags and ihave links for the fonts i used on the webpages as well the link to bootstrap.
 -->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My App</title>

<link href="https://fonts.googleapis.com/css?family=Creepster|Old+Standard+TT" rel="stylesheet">
<link rel='icon' href='http://aux4.iconspalace.com/uploads/976982819713353248.png' type='image/x-icon'/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css?q=1280549780" media="screen" charset="utf-8" />

    </head>
    <body>
<!--    {% include 'includes/_navbar.html' %}-->
<!--    <div class="container">-->
<!--     {% include 'includes/_messages.html' %}-->
<!--    {% block body %}{% endblock %}-->
<!--    </div>-->
<!--    </div>-->
    <footer class="page-footer font small cyan darken-3">
    <div class="footer-copyright text-center py-3">
            © 2019 Copyright GymBud, Hamze Muuse Data and the Web 2019 Web App.
    </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.2/basic/ckeditor.js"></script>
     <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>

 </body>
</html>
