<!--This File contains the html code which displays the model prediction displayed to the user on the client side-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link charset="utf-8" href="/static/custom.css?q=1280549780" media="screen" rel="stylesheet"/>

</head>
<body>
<div class="text-center">
<form action="/option" method="POST">
<!--    <h3>Please select a transaction, one of the three ML models from the drop-down menu and click submit</h3>-->
     <h5>Choose a transaction</h5>
    <section>
  <select name="transaction" value="{{selected_idx}}">
    {% for idx in indexes %}
      {% if idx == selected_idx %}
      <option value= "{{idx}}" selected>{{ transactions[idx]}}</option>"
      {% else %}
   <option value= "{{idx}}">{{ transactions[idx]}}</option>"
      {% endif %}
    {% endfor %}
  </select>
         <aside style="padding:5px" value="{{amount}}"> Transaction amount is {{amount}}</aside>

<!--     <p value=> Transaction amount is {{amount}}</p>-->
    </section>
    <br>
    <section>
    <h5>Choose a Model</h5>
  <select name="model" value="{{selected_model}}">
    {% for idx in model_indexes %}
       {% if idx == selected_model %}
   <option value= "{{idx}}" selected>{{ models[idx] }}</option>"
      {% else %}
   <option value= "{{idx}}">{{ models[idx] }}</option>"
      {% endif %}
    {% endfor %}
  </select>
    </section>
    <p style="padding:15px"><input type="submit" value="Submit"> </p>

{% for idx in model_indexes %}
    {% if idx == selected_model %}
    {% if response =="0" %}
    <p style="color:green;" value="{{response}}{{idx}} selected">Value predicted by the <u>{{models[idx]}}</u> model: Legit </p>
    {% else %}
    <p style="color:red;" value="{{response}}{{idx}} selected">Value predicted by the {{models[idx]}} model: Fraud</p>
    {% endif %}
     {% endif %}
    {% endfor %}
     {% if true_val =="0" %}
    <p style="color:green;" value="{{true_val}}"> True value is: Legit</p>
     {% else %}
    <p style="color:red;" value="{{true_val}}"> True value is: Fraud</p>
    {% endif %}
    <p value="{{prob}}"> Probability that transaction is fraud: {{prob}}%</p>


<!--    <p value="{{amount}}"> Amount is {{amount}}</p>-->
<!--  <input type="submit" value="Submit">-->
</form>
</div>
 <footer class="page-footer font small cyan darken-3">
    <div class="footer-copyright text-center py-3">
            © 2020 Copyright 2020 Model Prediction.
    </div>
    </footer>
</body>
</html>